<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Traduz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Debian Traduz</a>

      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/untranslated">Text equals translation</a></li>
      </ul>

      <%= form_tag '/search', class: 'navbar-search pull-left' do -%>
        <%= search_field_tag 'text', params[:text], class: 'search-query' %>
      <% end %>
    </div>
  </div>
</div>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>
