<h1>Found <%= @matches.count %> match(es) for <strong>"<%= params[:text] %>"</strong></h1>

<table class='table table-striped'>
  <% @matches.each do |translation| %>
    <tr class='row'>
      <td class='span2'><strong><%= translation.translation_file.filepath %></strong></td>
      <td class='msgid span5'><%= simple_format highlight(h(translation.msgid), params[:text]) %></td>
      <td class='msgstr span5'><%= simple_format highlight(h(translation.msgstr), params[:text]) %></td>
    </tr>
  <% end %>
</ul>
